
@{
    ViewBag.Title = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/logo.png" alt="health foundation" style="width: 200px; text-align:center" />
        </div>
        <div class="col-md-6">
            <h2 style="text-align:left"> THE </h2>
            <h2 style="text-align:left; color:red"> HEALTH </h2>
            <h2 style="text-align:left"> FOUNDATION </h2>
            <h2 style="text-align:left"> SOUTH AFRICA </h2>
            <small style="text-align:left; color:green"> Together towards wellness</small>

        </div>
    </div>
</div>

<br />
<br />

<img src="~/children.jpg" alt="children" style="width:700px; text-align:center" />
<br />
<br />
<br />

<h2 style="text-align:center"> At The Health Foundation</h2>
<p style="text-align:center">
    We believe that good health and overall wellness is the foundation to a strong country and a democracy. <br />
    We believe that health is key to being a strong citizen who is able to contribute responsibility to community <br />
    life. We believe that everybody must have access to quality health care services, both at hospitals and at <br />
    community clinics.
</p>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                We offer a credible, accountable channel to make a direct difference in the health and wellness of citizens,
                through innovative, people-centred, results-focused initiatives. The projects we support may include contributions
                to health and healthcare infrastructure, human capacity development, programmes, services and systems. The Foundation
                is committed to accountable stewardship, good governance and transparent reporting.
            </p>
        </div>
        <div class="col-md-6">
            <img class="card-img-right" src="~/newborn.jpg" alt="newborn" style="width: 400px" />
        </div>
    </div>
</div>

<br />
<br />
<br />

<h3>We have a number of projects aimed at improving our nation's wellbeing</h3>
<br />

<button data-toggle="collapse" data-target="#demo" style="width:900px; text-align:center"> Principle of Support </button>
<div id="demo" class="collapse">
    <h4> Principle of Support</h4>
    <br />
    <small>
        The projects we support may include contributions to various aspects of health and healthcare including
        infrastructure, human capacity development, programmes, services and systems
    </small>
    <br />
    <h6>Potential projects are evaluated against our principles of support:</h6>
    <small> Alignment with Foundation's vision and mission</small>
    <small>Feasibility</small>
    <small>Stakeholder consultation and acceptance</small>
    <small>Capacity for effective implementation</small>
    <small>Cost-effective and financially sustainable</small>
    <small>Positive impact and potential for expansion</small>
    <small>People-centred solutions</small>
</div>
<br />
<br />
<br />
<button data-toggle="collapse" data-target="#demo1" style="width:900px; text-align:center"> Spreading Warmth </button>
<div id="demo1" class="collapse">
    <h4> Spreading Warmth</h4>
    <br />
    <small>
        In the lead up to Mandela Day on 18 July, The Health Foundation has joined up with the
        Western Cape Government: Health (WCGH) to focus our efforts to ensure our most vulnerable citizens
        can feel some "Mandela warmth" in winter
    </small>
    <br />
    <h6> You can help by preparing care packages. The highly sought-after items are:</h6>
    <ul>
        <li>Blankets (fleece blankets)</li>
        <li>Socks</li>
        <li>Toiletries</li>
        <li>Warm clothing</li>
    </ul>
    <br />
    <small> Care packs can be dropped off at The Health Foundation offices (F01 The Forum, North Bank Lane, Century City, 7441</small>
    <small> Contact Harry Grainger at The Health Foundation for more information on how to donate: 021 418 1580/072 6133 719</small>
</div>
<br />
<br />
<br />

<button data-toggle="collapse" data-target="#demo2" style="width:900px; text-align:center"> Sexual And Reproductive Health </button>
<div id="demo2" class="collapse">
    <h4>Sexual and Reproductive Health</h4>
    <br />
    <small>
        The seed for The Health Foundation’s focus on Sexual and Reproductive health was planted by the
        Royal College of Obstetrics & Gynaecology in the UK through their R30 million grant funding, towards the pilot
        roll-out of the programme which is now widely known as Leading Safe Choices. The overall aim was and continues
        to be the strengthening of sexual and reproductive health services in a number of ways including improved
        competence and raised standards of family planning professionals in South Africa.
    </small>
    <small>
        Building on our experience with the Leading Safe Choices programme, the Foundation’s role includes employing
        and seconding programme staff to the Department and playing a governance and quality assurance role.
    </small>
    <br />
    <h6> The current programme's objectives are to:</h6>
    <ul>
        <li>
            Contribute to skills building and mentorship in comprehensive family planning, through training and
            support systems thereby improving the quality of comprehensive family planning services available.
        </li>
        <li>Enable the professionalisation of comprehensive family planning with accreditation and certification systems.</li>
        <li>Minimizing the isolation and burnout of family planning providers through debriefing and peer support networks</li>
    </ul>
    <br />
    <small>
        Through these objectives we aim to address the barriers that prevent the uptake of safe and healthy family
        planning services in designated health facilities.
    </small>
    <br />
    <small>
        With a new donor on board (IPPF), the Foundation is working with the Cape Winelands District to fulfil
        the rights of women and girls to access safe comprehensive family planning services. All programme
        implementation is embedded within the Department of Health’s women’s health programme to ensure sustainability
        and longevity.
    </small>
</div>
<br />
<br />
<br />

<button data-toggle="collapse" data-target="#demo3" style="width:900px; text-align:center"> First 1000 Days </button>
<div id="demo3" class="collapse">
    <h4> First 1000 days</h4>
    <br />
    <small>
        Improving the well-being of mothers and children during the first 1 000-day window helps ensure
        children get the best start to life and the opportunity to reach their full potential. The period of
        pregnancy and the first 2 years of life (= 1000 days) offers a unique opportunity for enabling a bright,
        healthy and prosperous future.
    </small>
    <br />
    <p>
        Did you know? Children who get a “Healthy Start to Life” in the 1st 1000 days and beyond are ten times
        more likely to overcome life threatening childhood diseases, complete nearly five more grades in school,
        go on to earn 21% more in wages as adults and are more likely to have healthier families of their own.
    </p>
    <br />
    <small>
        The First 1000 Days initiative was launched by the Western Cape Government: Department of Health and
        Social Development with the aim of raising awareness of the crucial first 1000 days of a child’s life. The
        initiative aims to follow a whole society approach to improve the wellness of children in terms of:
    </small>
    <ul>
        <li>Nutrition and Health</li>
        <li>Nurture, Care and Support (within the family, home and community)</li>
        <li>Safety, Protection and Stimulation for early learning</li>
    </ul>
</div>
<br />
<br />
<br />

<button data-toggle="collapse" data-target="#demo4" style="width:900px; text-align:center"> WoW - Health Living Cookbook </button>
<div id="demo4" class="collapse">
    <h4> WOW - Health Living Cookbook</h4>
    <br />
    <small>
        The Health Foundation is proud to work with the WoW! Healthy Lifestyles initiative in association
        with the Western Cape Government and its valued partners. WoW! (WesternCape on Wellness) promotes and activates
        Healthy Lifestyle Actions to prevent, reduce and better self-manage common chronic diseases. WoW! represents
        a novel transversal and cross-sectoral partnering approach to promote, activate, expand and maintain a healthy
        lifestyles movement across multiple settings, including: Worksite, Primary Healthcare Facility, School,
        Community and Public Space settings. <a href="www.westerncape.gov.za/wow"></a>Find out more
    </small>
    <br />
    <small>
        Another facet of WoW! is about enabling people to live healthier lifestyles through EATING WELL – WoW!
        groups encourage and provide people with guidelines and recipes for healthy eating.
    </small>
    <br />
    <h6> WoW! Plant-based Cooking Course</h6>
    <small>
        The Health Foundation is privileged to be the sub-grant manager of the Humane Society International (HSI)
        funding towards the development of the first WoW! Plant-based Cooking Course in South Africa. A healthy lifestyle
        requires a balanced diet, and as dieticians recommend, this means at least 5 healthy servings of vegetables
        everyday. This nutrition-packed course which is being developed with a proudly South African context will be
        accredited by SETA and made available to the public.
    </small>
</div>
<br />
<br />
<br />

<button data-toggle="collapse" data-target="#demo5" style="width:900px"> Shoes2move </button>
<div id="demo5" class="collapse">
    <h4> Shoes2move</h4>
    <small>
        The WoW! Groups are working with lots of people, young and old, who want to start walking or running – to
        Move for better health – but they don’t have comfortable, supportive shoes. And they can’t afford to buy them.
        The Shoes2Move campaign calls on people and corporates to make donations, with which we will gift a new pair of
        basic exercise shoes to WoW! Club members who show commitment and regular attendance at their WoW! Group
        <a href="www.westerncape.gov.za/wow"> Find out more</a>
    </small>
</div>


<br />
<br />
<br />
<h3> We need your contribution with our mission :)</h3>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p> Want to help but cannot physically do so? Please help us by donating.</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <button type="button" class="btn btn-success" id="donation">Make a donation</button>
        </div>
        <div class="col-md-3">
            <p>
                The are facilities in the country that are in need of a helping hand. Check if
                there is one near you that you could provide a hand for
            </p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <button type="button" class="btn btn-success" id="helping">Lend a hand</button>
        </div>
        <div class="col-md-3">
            <p>
                There are many things going on in the world and it is our aim to make our nation aware of them.
                We have scheduled awareness drives, check if there is any around you where you can be part of our team
                that is making people aware of certain things that might impact their health or wellbeing
            </p>
            <br />
            <button type="button" class="btn btn-success" id="drive">Scheduled drives</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#donation').click(function () {
        document.location = '@Url.Action("Donate", "Home")';
    })
    $('#helping').click(function () {
        document.location = '@Url.Action("HelpNeeded", "Home")';
    })
    $('#drive').click(function () {
        document.location = '@Url.Action("Drives", "Home")';
    })
</script>

<br />
<br />
<br />
<br />
<br />

<h5>
    We have been collecting sanitary pads and canned food for the less fortunate all over the country. We have received
    a lot of the products from fellow South Africas. In addition to our kind nation, there are companies that lent a hand
    for our people. Find out how much we have received:
</h5>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <button type="button" class="btn btn-info" id="collection">Products received</button>
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-info" id="companies">Organization donations</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#collection').click(function () {
        document.location = '@Url.Action("Donations", "Home")';
    })
    $('#companies').click(function () {
        document.location = '@Url.Action("CompanyDonations", "Home")';
    })
</script>

<br />
<br />
<br />
<br />

<h3>Foundation Pillars</h3>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4> Strategy Support</h4>
            <p>
                We support teams to develop and implement smart, evidence based strategies to optimise the sustainability
                and impact of interventions. We align with the Department of Health's strategic priorities, deliver consultation
                services, collaborate with academic and corporate knowledge partners and other health organizations
            </p>
        </div>
        <div class="col-md-3">
            <h4> Resource Mobilisation</h4>
            <p>
                We match selected priority needs in the health system with the interests and offerings of prospective partners,
                then mobilise resources via corporate and philanthropic fundraising, commercial revenue generation, and mutually
                beneficial partnerships
            </p>
        </div>
        <div class="col-md-3">
            <h4> Accountable Stewardship</h4>
            <p>
                We responsibly steward funds directly into priority projects. Donations are accounted for through transparent
                financial management and reporting. Monitoring and evaluation of project implementation and results informs quality
                improvement and reporting
            </p>
        </div>
        <div class="col-md-3">
            <h4> Celebrating Health Philanthropy and Partnerships</h4>
            <p>
                We aim to promote a culture of giving to the health sector. We recognise contributions big and small for their
                investement in life, our society, and economy
            </p>
        </div>
    </div>
</div>

<br />
<br />
<small>
    The Health Foundation is an independent Non-Profit Company and Public Benefit Organisation. We offer a unique platform for
    partnerships between public, private and civil sectors to boost resources and enhance services in the public health sector,
    in order to improve the quality and access of healthcare in South Africa and beyond.
</small>

<br />
<br />
<br />

<div class="footer">
    <h4> Contact Us</h4>
    <p>
        Tel: +27 (0) 21 418 1580 <br />
        Email: info@thehealthfoundation.org.za <br />
        Physical Address: F01, Rostra Building, The Forum Complex, <br />
        North Bank Lane, Century City, 7441 <br />
        Postal Address: P O Box 2785, Bellville, 7535 <br />
    </p>
</div>